# Python virtual environments
.venv/
venv/
env/
.venv-1/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# IDE
.vscode/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Python packaging
*.egg-info/
dist/
build/

# Logs
*.log

# Temporary files
*.tmp